.div-juldyz{
    display: inline-block;
    position: relative;
}

.div-juldyz img{
    width: 500px;
}
.title-juldyz{
    position: absolute;
    bottom: 30px;
    left: 5px;
    right: 5px;
    text-align: center;
    color: white;
}