
.linkElorda{
    color: #ffffff;
    border-style: solid;
    border-color: #223c50;
    background-color: hwb(206 13% 69%);
    padding: 10px 15px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 5px;
}
.linkElorda:hover{
    background-color: white;
    border-color: #223c50;
    color:#223c50;
    transition: .1s all ease-in;
}