
.red{
    background-color: red;
    height: 100px;
}
.blue{
    background-color: blue;
    height: 100px;
}
.red2{
    background-color: sienna;
    height: 100px;
}
.blue2{
    background-color: seagreen;
    height: 100px;
}
.site-logo{
    width: 150px;
}
.site-ads{
    width: 400px;
}
.container{
    display:grid;
    grid-template-columns:1fr 3fr 2fr;
    column-gap: 10px;
    row-gap: 10px;
}